/* button  {
    background-color: rgb(54, 112, 42);
    border: rgb(0, 0, 0);
    border-style:solid;
   
   
} */
.floatLeft{
    float: left;
    width: 500px;
    background: royalblue;
}
.floatRight{
    float: right;
    width: 700px;
    background: sienna;
} 

.box {
    width: 300px;
    height: 200px;
    background: salmon;
}

@media(max-width: 460px){
    .box {
        background: red ;  
            }
}

@media (max-width:1216px){
    .floatLeft,.floatRight {
float: unset;
width: 100%;
    }
}
   